.footerb {
  background: url('https://scontent.frec1-1.fna.fbcdn.net/v/t1.6435-9/247797137_4476373169142431_4591074813519283054_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=PPy_ouUqr3AAX9XBm5I&_nc_ht=scontent.frec1-1.fna&oh=70be943b53f2fe6f9e56b2ade45c2071&oe=619618BC')
    no-repeat center;
  background-size: cover;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
}
.footer h1 {
  color: white;
  text-shadow: 2px 2px 8px #ff7134;
  font-size: 2rem;
}

.contao {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.realizacao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.realizacao img {
  width: 86px;
  padding: 10px;
  height: 110px;
}
.redes {
  display: flex;
  list-style: none;
}
.rede {
  justify-content: center;
  align-items: center;
}
.redes li {
  background: #ff7134;
  padding: 10px;
  margin: 5px;
}
.redes a {
  text-decoration: none;
  color: white;
}
